<!DOCTYPE html>
<html>
  <head>
    <title>Inner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <h1>Inner</h1>
    <%= yield %>

    <%= javascript_tag nonce: true do -%>
      function makeRequestWithUserGesture() {
        var promise = document.requestStorageAccess();
        promise.then(
          function () {
            console.log("access granted");
          },
          function () {
            console.log("access denied");
          }
        );
      }
      makeRequestWithUserGesture();
    <% end -%>

    <button onclick="makeRequestWithUserGesture()">requestStorageAccess</button>
  </body>
</html>
