<div>msg: <%= msg.inspect %></div>
<%= button_to "set new msg", new_sessions_path, method: "get" %>
<%= button_to "reset session", sessions_path, method: "delete" %>

<div><iframe src="http://inner.tonyta.dev" title="Inner" style="width:100%;height:100%;"></iframe><div>
