<!DOCTYPE html>
<html>
  <head>
    <title>Outer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <h1>Outer</h1>
    <%= yield %>
  </body>
</html>
