<!DOCTYPE html>
<html>
  <head>
    <title>Outer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <h1>Outer</h1>
    <%= yield %>
    <% if ENV["TUNNEL"] || ENV["IFRAME_TUNNEL"] %>
      <div><iframe src="https://inner.tonyta.dev" title="Inner" width="100%" height="400px"></iframe><div>
    <% else %>
      <div><iframe src="http://innerhost:4000" title="Inner" width="100%" height="400px"></iframe><div>
    <% end %>
  </body>
</html>
